* {
    font-family: "Roboto", "Verdana", sans-serif;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

.wrapper {
    flex: 1 1 auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

.header,
.hero,
.info,
.quote,
.call-to-action,
.footer {
    padding-left: 15em;
    padding-right: 15em;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-flow: row;
    padding-top: 2em;
    padding-bottom: 2em;
}

.header-logo {
    font-size: 24px;
    font-weight: 500;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.header-links {
    font-size: 18px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: auto;
}

.link {
    text-decoration: none;
    color: #E5E7Eb;
    margin-left: 1.5em;
}

.quote {
    background-color: #E5E7Eb;
}

.footer{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7Eb;
    font-size: 18px;
    padding: 2em;
}