* {
    font-family: "Roboto", "Verdana", sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

.wrapper {
    flex: 1 1 auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

.header,
.hero,
.info,
.quote,
.call-to-action,
.footer {
    padding-left: 24em;
    padding-right: 24em;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-flow: row;
    padding-top: 2em;
    padding-bottom: 2em;
}

.header-logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.header-links {
    font-size: 18px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 1.5em;
}

.link {
    text-decoration: none;
    color: #E5E7Eb;
}

.hero {
    display: flex;
    padding-top: 8em;
    padding-bottom: 8em;
    gap: 8em;
}

.hero-left,
.hero-right {
    max-height: 25rem;
    width: 50%;
}

.hero-left {
    display: flex;
    flex-flow: column;
    flex-shrink: 1;
    flex-basis: auto;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7Eb;
}

.hero-button {
    margin-top: 1.5em;
}

.hero-right {
    align-items: center;
    text-align: right;
    display: flex;
    align-items: flex-end;
}

.hero-image {
    width: 100%;
    height: auto;
}

.info {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 4em 32em 8em;
    gap: 4em;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-content {
    display: flex;
    justify-content: space-evenly;
    gap: 4em;
}

.info-box {
    display: flex;
    flex-flow: column;
    flex: 1 1 25%;
    max-height: 25rem;
    gap: 1em;
    justify-content: center;
}

.info-image {
    height: auto;
    width: 100%;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.info-image-text{
    text-align: center;
    font-size: 18px;
    color: #696969;
}

.quote {
    background-color: #E5E7Eb;
    color: #1F2937;
    padding: 8em 36em 6em;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 0;
}

.quote-author{
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-right: 0.5em;
}

button {
    background-color: #3882F6;
    color: #fff;
    font-size: 18px;
    padding: 1em 2em;
    font-weight: 600;
    border-radius: 12px;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7Eb;
    font-size: 18px;
    padding: 1.5em;
}